.vfrc-launcher{
    background-color: orange;
}
.vfrc-launcher:hover{
    background-color: orange;
    box-shadow: 0 0 10px #000;
}
.c-iCDrnV{
    background-color: orange;
}
.c-PJLV-gJqBfM-from-user{
    background-color: orange;
}
.c-jjMiVY{
    background-color: orange;
}
.c-jjMiVY:hover{
    background-color: orange;
    box-shadow: 0 0 10px #000;
}
.c-dzcdPv{
    background-color: orange;
}
.c-dzcdPv:hover{
    background-color: orange;
    box-shadow: 0 0 10px #000;
}
.c-cejRVw {
    font-size: 0px;
}